In [7]:
#Import Required Libraries

import pandas as pd
import numpy as np
import os

ModuleNotFoundError: No module named 'pandas'

In [2]:
# Load the 5 csvs

df1 = pd.read_csv("2015_with_missing.csv")
df2 = pd.read_csv("2016_with_missing.csv")
df3 = pd.read_csv("2017_with_missing.csv")
df4 = pd.read_csv("2018_with_missing.csv")
df5 = pd.read_csv("2019_with_missing.csv")

In [3]:
# Look at each df

In [4]:
print("\nSample records:\n", df1.head())
print("\nColumn names:\n", df1.columns.tolist())

Sample records:
        Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                       NaN  1.36058
3         0.03880                   1.45900  1.33095
4             NaN                       NaN  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143      NaN                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464      NaN                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual
0     0.29678            2.51738
1     0.43630            2.70201
2     0.34139            2.49204
3     0.34699            2.46531
4     0.45811                NaN

Column names:
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Standard Error', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']

In [5]:
print("\nSample records:\n", df2.head())
print("\nColumn names:\n", df2.columns.tolist())

Sample records:
        Country          Region  Happiness Rank  Happiness Score  \
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

   Lower Confidence Interval  Upper Confidence Interval  \
0                      7.460                      7.592
1                      7.428                      7.590
2                        NaN                      7.669
3                      7.421                      7.575
4                      7.351                        NaN

   Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                   1.44178  1.16374                   0.79504      NaN
1                   1.52733  1.14524                   0.86303  0.58557
2                   1.42666  1.18326                   0.86733  0.56624
3                   1.57744      NaN                   0.79579  0.59609
4                   1.40598  1.13464                   0.81091  0.57104

   Trust (Government Corruption)  Generosity  Dystopia Residual
0                        0.44453     0.36171            2.73939
1                        0.41203     0.28083            2.69463
2                        0.14975     0.47678            2.83137
3                        0.35776     0.37895            2.66465
4                        0.41004     0.25492            2.82596

Column names:
 ['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual']

In [6]:
print("\nSample records:\n", df3.head())
print("\nColumn names:\n", df3.columns.tolist())

Sample records:
        Country  Happiness.Rank  Happiness.Score  Whisker.high  Whisker.low  \
0       Norway               1            7.537      7.594445     7.479556
1      Denmark               2            7.522           NaN     7.462272
2      Iceland               3            7.504      7.622030     7.385970
3  Switzerland               4            7.494      7.561772     7.426227
4      Finland               5            7.469      7.527542     7.410458

   Economy..GDP.per.Capita.    Family  Health..Life.Expectancy.   Freedom  \
0                  1.616463  1.533524                  0.796667       NaN
1                  1.482383  1.551122                       NaN  0.626007
2                       NaN       NaN                  0.833552       NaN
3                       NaN  1.516912                  0.858131  0.620071
4                  1.443572  1.540247                  0.809158  0.617951

   Generosity  Trust..Government.Corruption.  Dystopia.Residual
0    0.362012                       0.315964           2.277027
1    0.355280                            NaN           2.313707
2    0.475540                       0.153527           2.322715
3         NaN                       0.367007                NaN
4    0.245483                       0.382612           2.430182

Column names:
 ['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual']

In [7]:
print("\nSample records:\n", df4.head())
print("\nColumn names:\n", df4.columns.tolist())

Sample records:
    Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.632           1.305           1.592
1             2            Norway  7.594           1.456           1.582
2             3           Denmark  7.555           1.351           1.590
3             4           Iceland  7.495           1.343           1.644
4             5       Switzerland  7.487           1.420           1.549

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.874                         0.681       0.202
1                    0.861                         0.686       0.286
2                    0.868                         0.683       0.284
3                    0.914                         0.677       0.353
4                    0.927                         0.660       0.256

   Perceptions of corruption
0                      0.393
1                      0.340
2                      0.408
3                      0.138
4                      0.357

Column names:
 ['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [8]:
print("\nSample records:\n", df5.head())
print("\nColumn names:\n", df5.columns.tolist())

Sample records:
    Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.769           1.340           1.587
1             2           Denmark  7.600           1.383           1.573
2             3            Norway  7.554           1.488           1.582
3             4           Iceland  7.494           1.380           1.624
4             5       Netherlands  7.488           1.396           1.522

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                      NaN                           NaN       0.153
1                    0.996                         0.592       0.252
2                    1.028                         0.603       0.271
3                      NaN                         0.591         NaN
4                    0.999                         0.557       0.322

   Perceptions of corruption
0                      0.393
1                        NaN
2                      0.341
3                      0.118
4                      0.298

Column names:
 ['Overall rank', 'Country or region', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [9]:
# dfs = [df1, df2, df3, df4, df5]
# df_names = ['df1', 'df2', 'df3', 'df4', 'df5']

# # Get the max number of columns among all DataFrames
# max_cols = max(len(df.columns) for df in dfs)

# # Create a dictionary to hold aligned columns
# aligned_columns = {
#     name: df.columns.tolist() + [None] * (max_cols - len(df.columns))
#     for name, df in zip(df_names, dfs)
# }

# # Create the comparison DataFrame
# comparison_df = pd.DataFrame(aligned_columns)
# comparison_df.index = [f'Column {i+1}' for i in range(max_cols)]
# comparison_df

In [10]:
# Bring all the data frames to the same shape and merge

column_mapping = {
'Country': 'country',
'Country or region': 'country',
'Happiness Score': 'happiness_score',
'Score': 'happiness_score',
'Happiness Rank': 'happiness_rank',
'Overall rank': 'happiness_rank',
'Economy (GDP per Capita)': 'gdp_per_capita',
'Economy GDP per Capita':'gdp_per_capita',
'GDP per capita': 'gdp_per_capita',
'Family': 'social_support',
'Social support': 'social_support',
'Health (Life Expectancy)': 'life_expectancy',
'Health Life Expectancy': 'life_expectancy',
'Healthy life expectancy': 'life_expectancy',
'Freedom': 'freedom',
'Freedom to make life choices': 'freedom',
'Trust (Government Corruption)': 'corruption',
'Trust Government Corruption': 'corruption',
'Perceptions of corruption': 'corruption',
'Generosity': 'generosity',
}

In [11]:
 # Rename columns using mapping
df1.columns = df1.columns.str.replace(r'[_\.]+', ' ', regex=True)
df1 = df1.rename(columns=column_mapping)
df1.columns = df1.columns.str.strip()
print(df1.columns)

Index(['country', 'Region', 'happiness_rank', 'happiness_score',
       'Standard Error', 'gdp_per_capita', 'social_support', 'life_expectancy',
       'freedom', 'corruption', 'generosity', 'Dystopia Residual'],
      dtype='object')

In [12]:
# Add missing columns with NaNs
for col in column_mapping.values():
    if col not in df1.columns:
        df1[col] = np.nan
        print("Column Name",col)
            
df1['year'] = 2015

In [13]:
 # Rename columns using mapping
df2.columns = df2.columns.str.replace(r'[_\.]+', ' ', regex=True)
df2 = df2.rename(columns=column_mapping)
df2.columns = df2.columns.str.strip()
print(df2.columns)    
# Add missing columns with NaNs

Index(['country', 'Region', 'happiness_rank', 'happiness_score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'gdp_per_capita', 'social_support', 'life_expectancy', 'freedom',
       'corruption', 'generosity', 'Dystopia Residual'],
      dtype='object')

In [14]:
for col in column_mapping.values():
    if col not in df2.columns:
        df2[col] = np.nan
        print("Column Name",col)

            
df2['year'] = 2016

In [15]:
 # Rename columns using mapping
df3.columns = df3.columns.str.replace(r'[_\.]+', ' ', regex=True)
df3.columns = df3.columns.str.strip()
df3 = df3.rename(columns=column_mapping)
print(df3.columns)

Index(['country', 'happiness_rank', 'happiness_score', 'Whisker high',
       'Whisker low', 'gdp_per_capita', 'social_support', 'life_expectancy',
       'freedom', 'generosity', 'corruption', 'Dystopia Residual'],
      dtype='object')

In [16]:
# Add missing columns with NaNs
for col in column_mapping.values():
    if col not in df3.columns:
        df3[col] = np.nan
        print("Column Name",col)
            
df3['year'] = 2017

In [17]:
 # Rename columns using mapping
df4.columns = df4.columns.str.replace(r'[_\.]+', ' ', regex=True)
df4 = df4.rename(columns=column_mapping)
df4.columns = df4.columns.str.strip()

In [18]:
for col in column_mapping.values():
    if col not in df4.columns:
        df4[col] = np.nan
        print("Column Name",col)            
df4['year'] = 2018

In [19]:
# df4.columns

In [20]:
 # Rename columns using mapping
df5.columns = df5.columns.str.replace(r'[_\.]+', ' ', regex=True)
df5 = df5.rename(columns=column_mapping)
df5.columns = df5.columns.str.strip()

In [21]:
# Add missing columns with NaNs
for col in column_mapping.values():
    if col not in df1.columns:
        df5[col] = np.nan
        print("Column Name",col)
            
df5['year'] = 2019

In [22]:
# Merge all data
all_data = [df1, df2, df3, df4, df5]
df = pd.concat(all_data, ignore_index=True)
cols_to_keep = ['country', 'happiness_score', 'happiness_rank', 'gdp_per_capita',
                    'social_support', 'life_expectancy', 'freedom', 'generosity',
                    'corruption', 'year']
print(len(cols_to_keep))
    
df = df[cols_to_keep]
df

10

,country,happiness_score,happiness_rank,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption,year
0,Switzerland,7.587,1,1.39651,1.34951,0.94143,NaN,0.29678,0.41978,2015
1,Iceland,7.561,2,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,7.527,3,NaN,1.36058,0.87464,NaN,0.34139,0.48357,2015
3,Norway,7.522,4,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,7.427,5,NaN,1.32261,0.90563,0.63297,0.45811,0.32957,2015
...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,3.334,152,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100,2019
778,Tanzania,3.231,153,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700,2019
779,Afghanistan,3.203,154,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500,2019
780,Central African Republic,3.083,155,0.02600,0.00000,NaN,NaN,0.23500,0.03500,2019
781,South Sudan,2.853,156,0.30600,0.57500,0.29500,0.01000,0.20200,0.09100,2019

In [23]:
# Basic Exploration
print("Shape of the dataset:", df.shape)
print("\nYears included:", df['year'].unique())
print("\nData types:\n", df.dtypes)
print("\nSample records:\n", df.head())
print("\nColumn names:\n", df.columns.tolist())

Shape of the dataset: (782, 10)

Years included: [2015 2016 2017 2018 2019]

Data types:
 country             object
happiness_score    float64
happiness_rank       int64
gdp_per_capita     float64
social_support     float64
life_expectancy    float64
freedom            float64
generosity         float64
corruption         float64
year                 int64
dtype: object

Sample records:
        country  happiness_score  happiness_rank  gdp_per_capita  \
0  Switzerland            7.587               1         1.39651
1      Iceland            7.561               2         1.30232
2      Denmark            7.527               3             NaN
3       Norway            7.522               4         1.45900
4       Canada            7.427               5             NaN

   social_support  life_expectancy  freedom  generosity  corruption  year
0         1.34951          0.94143      NaN     0.29678     0.41978  2015
1         1.40223          0.94784  0.62877     0.43630     0.14145  2015
2         1.36058          0.87464      NaN     0.34139     0.48357  2015
3         1.33095          0.88521  0.66973     0.34699     0.36503  2015
4         1.32261          0.90563  0.63297     0.45811     0.32957  2015

Column names:
 ['country', 'happiness_score', 'happiness_rank', 'gdp_per_capita', 'social_support', 'life_expectancy', 'freedom', 'generosity', 'corruption', 'year']

In [24]:
# Handling Missing Values
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 country            10
happiness_score     0
happiness_rank      0
gdp_per_capita     75
social_support     75
life_expectancy    75
freedom            75
generosity         75
corruption         76
year                0
dtype: int64

In [25]:
imputed_df = df.copy()

# Impute numeric columns using mean
numeric_cols = imputed_df.select_dtypes(include=["float64", "int64"]).columns.tolist()
for col in numeric_cols:
    if col != "year":  # we don't need to impute year
        imputed_df[col] = imputed_df[col].fillna(imputed_df[col].mean())

In [26]:
# Handling Missing Numerical Values
print("\nMissing values:\n", imputed_df.isnull().sum())

Missing values:
 country            10
happiness_score     0
happiness_rank      0
gdp_per_capita      0
social_support      0
life_expectancy     0
freedom             0
generosity          0
corruption          0
year                0
dtype: int64

In [27]:
cat_cols = imputed_df.select_dtypes(include=["object"]).columns.tolist()
imputed_df = imputed_df.dropna(subset=cat_cols)

In [28]:
# Handling Missing Numerical Values
print("\nMissing values:\n", imputed_df.isnull().sum())

Missing values:
 country            0
happiness_score    0
happiness_rank     0
gdp_per_capita     0
social_support     0
life_expectancy    0
freedom            0
generosity         0
corruption         0
year               0
dtype: int64

In [ ]:
# df[df['corruption'].isna()]

In [ ]:
# # Impute numerical columns
# num_cols = df.select_dtypes(include=np.number).columns
# for col in num_cols:
#     if df[col].isnull().sum() > 0:
#         df[col].fillna(df[col].mean(), inplace=True)

# print("\nMissing values after filling mean:\n", df.isnull().sum())
# # Drop rows with any remaining missing values
# df.dropna(inplace=True)

In [29]:
# Check For Duplicates
duplicates = imputed_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")
imputed_df = imputed_df.drop_duplicates()

Number of duplicate rows: 0

In [ ]:
# # Final Column Clean-Up

# # Convert 'year' to categorical if it's present
# if 'year' in df.columns:
#     df['year'] = df['year'].astype('category')
# df.columns = df.columns.str.lower().str.replace(' ', '_')

In [30]:
# Feature Engineering

imputed_df['is_happy'] = imputed_df['happiness_score'] >= imputed_df['happiness_score'].median()

# Create a region-based classification (if region or similar exists)
if 'country' in imputed_df.columns:
    imputed_df['country'] = imputed_df['country'].str.title()

In [31]:
# Correlation

correlations = imputed_df.corr(numeric_only=True)
print("\nTop 5 correlated features with happiness_score:")
print(correlations['happiness_score'].sort_values(ascending=False).head(6))

Top 5 correlated features with happiness_score:
happiness_score    1.000000
is_happy           0.832118
gdp_per_capita     0.756422
life_expectancy    0.696991
social_support     0.621877
freedom            0.512413
Name: happiness_score, dtype: float64

In [32]:
# Save Final Clean Dataset

output_path = 'cleaned_world_happiness_final.csv'
imputed_df.to_csv(output_path, index=False)
print(f"\nCleaned data saved to {output_path}")

Cleaned data saved to cleaned_world_happiness_final.csv

In [33]:
# Final Sanity

print("\nFinal DataFrame Info:")
print(df.info())
print(df.sample(5))
print("\nFinal few rows:\n", df.tail())

Final DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          772 non-null    object
 1   happiness_score  782 non-null    float64
 2   happiness_rank   782 non-null    int64
 3   gdp_per_capita   707 non-null    float64
 4   social_support   707 non-null    float64
 5   life_expectancy  707 non-null    float64
 6   freedom          707 non-null    float64
 7   generosity       707 non-null    float64
 8   corruption       706 non-null    float64
 9   year             782 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 61.2+ KB
None
         country  happiness_score  happiness_rank  gdp_per_capita  \
392       Kosovo            5.279              78        0.951484
345       France            6.442              31        1.430923
165  New Zealand            7.334               8             NaN
599      Myanmar            4.308             130        0.682000
20           NaN            6.867              21        1.266370

     social_support  life_expectancy   freedom  generosity  corruption  year
392        1.137854         0.541452  0.260288    0.319931         NaN  2017
345        1.387777         0.844466  0.470222    0.129762    0.172502  2017
165        1.172780         0.830960  0.581470    0.494010    0.419040  2016
599             NaN         0.429000  0.580000    0.598000    0.178000  2018
20         1.285480         0.909430  0.596250    0.519120    0.320670  2015

Final few rows:
                       country  happiness_score  happiness_rank  \
777                    Rwanda            3.334             152
778                  Tanzania            3.231             153
779               Afghanistan            3.203             154
780  Central African Republic            3.083             155
781               South Sudan            2.853             156

     gdp_per_capita  social_support  life_expectancy  freedom  generosity  \
777           0.359           0.711            0.614    0.555       0.217
778           0.476           0.885            0.499    0.417       0.276
779           0.350           0.517            0.361    0.000       0.158
780           0.026           0.000              NaN      NaN       0.235
781           0.306           0.575            0.295    0.010       0.202

     corruption  year
777       0.411  2019
778       0.147  2019
779       0.025  2019
780       0.035  2019
781       0.091  2019